.book-wrapper {
  margin-top: 30px;
  z-index: 0;
}
.row-edit-table {
  cursor: pointer;
}
.row-edit-table:hover {
  transform: scale(1.5);
  transition-duration: 0.4s;
}
.row-delete-table {
  cursor: pointer;
}
.row-delete-table:hover {
  transform: scale(1.5);
  transition-duration: 0.4s;
  color: red;
}
.published {
  margin-left: 25px;
}
.button-add-book {
  position: relative;
  left: -12px;
  top: -2px;
}
.dialog-content-wrapper {
  display: flex;
  flex-direction: column;
}
.switch-button {
  margin-top: 15px;
  margin-left: 5px;
  display: flex;
}
.label-switch {
  margin-right: 10px;
  margin-left: -5px;
  position: relative;
  top: 5px;
  cursor: pointer;
}
.content-dialog {
  margin-bottom: -10px;
  font-size: 20px;
}
.edit-icon:hover {
  border: 50%;
}
