.wrapper-dialog {
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: -10px;
}
.year-of-presentation {
  margin-bottom: 20px;
}
.rating-add {
  position: relative;
  top: 10px;
}
.line-dialog {
  width: 95%;
  height: 2px;
  background: #ff764b;
  margin: auto;
  margin-bottom: 5px;
}
.title-add-dialog {
  position: relative;
  top: 6px;
}
